.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    margin-bottom: 15px;
}

.label {
    width: 100px;
    margin-right: 20px;
}

.error {
    width: 100%;
    color: red;
}