.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 3px solid var(--main-color);
    border-radius: 65px;
    padding: 36px 57px 41px;
}

.logo {
    transition: all 0.3s;
    cursor: pointer;
    fill: var(--main-color);
}

.logo:hover {
    fill: var(--hover-color);
    transform: translateY(-10px);
    filter: drop-shadow(0 30px 35px 0 rgba(65, 115, 166, 0.15));
}

@media screen and (max-width: 1100px) {
    .logo_container {
        padding: 32px 52px 36px;
        border-radius: 60px;
    }

    .logo {
        width: 70px;
        height: 71px;
    }
}

@media screen and (max-width: 920px) {
    .logo_container {
        padding: 28px 45px 32px;
        border-radius: 50px;
    }

    .logo {
        width: 60px;
        height: 61px;
    }
}

@media screen and (max-width: 768px) {

    .logo_container {
        padding: 20px 35px 25px;
        border-radius: 40px;
    }

    .logo {
        width: 50px;
        height: 51px;
    }
}

@media screen and (max-width: 420px) {
    .logo_container {
        padding: 15px 25px 18px;
        border-radius: 30px;
    }

    .logo {
        width: 40px;
        height: 41px;
    }
}